/* .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 105px;
} */

.mainContainer {
    display: flex;
    justify-content: center;
}

.secondaryContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */

}

.subContainer {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    margin-bottom: 105px;
}

.title {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    font-family: Bitter;
    margin-bottom: 12px;
}

.list {
    display: inline-block;
}